#!/usr/bin/env python
# encoding: utf-8

class settings():
    default_dir = "/path/to/default/dir"
    filetypes = [('LIST', '.lst')]
    socketfile = "$HOME/.config/mpv/socket"
    defaultlist = "/path/to/list/file"
    defaultloop = True
    defaultshuffle = True
    commandlist = {"play": "cycle-values pause yes no",
                   "loop": "cycle-values loop-playlist inf no",
                   "next": "playlist-next",
                   "prev": "playlist-prev",
                   "quit": "quit",
                   "stop": "quit-watch-later"
                  }
